body {
  /*background-color: #2f3129;*/
}

div.row.header {
  display: inline;
}

.library-list {
  background-color: #e2e2e2;
}

div.poster {
  margin-bottom: 8px;
}

div.poster span.title {
  position:absolute;
  bottom: 0;
  padding: 8px;
}