<!DOCTYPE html>

<html>
<head>
  <title>Vengance | {{ template "title" . }}</title>

  <link rel="stylesheet" href="stylesheets/normalize.css">
	<link href="//cdn.jsdelivr.net/foundation/5.2.3/css/foundation.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/assets/css/mediaman.css">
</head>

<body>
  <div id="container">
  	<nav class="top-bar" data-topbar>
	  	<ul class="title-area">
	  		<li class="name">
	  			<h1><a href="/">Vengence</a></h1>
	  		</li>
	  		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  	</ul>
	  	<section class="top-bar-section">
	  	<ul class="right">
		  	<li><a href="#">Search</a></li>
	  	</ul>
	  	</section>
  	</nav>

  	<div class="row">
	    <div class="large-9 push-3 columns">

				{{ template "content" . }}

			</div>

  		<div class="large-3 pull-9 columns">
        <h2 class="nav-header">Libraries</h2>
		  	<ul class="side-nav">
		  		{{ template "libraries" . }}
		  	</ul>
		  </div>
    </div>
    
  </div>

  <script src="main.js"></script> 
	{{ template "script" . }}
</body>
</html>