<!DOCTYPE html>
<html>
<head>
  <title>Vengance Media Server | {{template "title" .}}</title>

  <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css" rel="stylesheet" type="text/css" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/css/mediaman.css">
  {{template "head" .}}
</head>

<body>

  <div class="row">
    <div class="large-12 columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">
                Vengence Media Server
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
 
        <section class="top-bar-section">
          <ul class="left">
            {{template "libraries" .}}
            <li><a href="/libraries/new"><i class="fi-plus"></i> Add Library</a></li>
          </ul>
 
          <!-- <ul class="right">
            <li class="search">
              <form>
                <input type="search">
              </form>
            </li>
 
            <li class="has-button">
              <a class="small button" href="#">Search</a>
            </li>
          </ul> -->
        </section>
      </nav>
    </div>
  </div>
  
  <div class="row">    
    <div class="large-12 columns">

    {{template "content" .}}

    </div>

    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
          </div>
        </div>
      </div> 
    </footer>
    
  </div>

  <script src="main.js"></script>
  {{ template "script" . }}
  

</body>
</html>

{{ define "script" }}{{end}}
{{ define "head" }}{{end}}