{{ define "title" }}Libraries • MediaManager{{ end }}

{{ define "libraries" }}
{{ range .Libraries }}
<li><a href="/libraries/{{.Id}}">{{.Name}}</a></li>
{{ end }}
{{ end }}

{{ define "content" }}
<div class="row">
  <div class="panel large-8 push-2">
    <h1>New Library</h1>
    <form method="POST" action="/libraries">
      <div class="row">
        <div class="large-12 columns">
          <label>
            Name
            <input type="text" name="name" />
          </label>
      </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
        <label>Path
          <input type="text" name="path" />
        </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
        <label>Type</label>
        <input type="radio" name="type" value="movies" checked/><label>Movies</label>
        <input type="radio" name="type" value="series"/><label>Series</label>
        </div>
      </div>
      <div class="row">
        <div class="right">
          <a class="small button secondary" href="/">Cancel</a>
          <button type="submit" class="small button">Create</button>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}

{{ define "script" }}
{{ end }}