{{ define "title" }}Movies • MediaManager{{ end }}

{{ define "libraries" }}
{{ range .Libraries }}
<li data-id="{{.Id}}"><a href="/libraries/{{.Id}}">{{.Name}}</a></li>
{{ end }}
{{ end }}

{{ define "content" }}
<div class="large-12 columns">
  <div class="row header">
    <h3 class="left">Movies</h3>
    <a href="/libraries/{{.Library.Id}}/process"><i class="fi-refresh"></i></a>
  </div>
</div>
<ul class="large-block-grid-5">
	{{ range .Elements }}
	<li>
		<a href="/elements/{{.Id}}"><img src="http://image.tmdb.org/t/p/w342/{{.Poster}}"/></a>
		<p>{{.Title}}</p>
	</li>
	{{ end }}
</ul>
{{ end }}

{{ define "script" }}
<script>
setSelectedLibrary({{.Library.Id}});
</script>
{{ end }}